# System files
# ------------

Icon
.DS_Store

# Development
# -----

/node_modules
/vendor

# Temporary files
# ---------------

/composer.lock
/yarn.lock

/build/assets
/source/images/favicons
/build/site/snippets/generated

/build/media/*
!/build/media/index.html

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Cache Files
# ---------------

/build/storage/cache/*
!/build/storage/cache/index.html

# Accounts
# ---------------

/build/storage/accounts/*
!/build/storage/accounts/index.html

# Sessions
# ---------------

/build/storage/sessions/*
!/build/storage/sessions/index.html

# License
# ---------------
/build/site/config/.license
