*.log
node_modules
build/assets


# System files
# ------------

Icon
.DS_Store


# Temporary files
# ---------------

build/thumbs/*
!build/thumbs/index.html

build/site/cache/*
!build/site/cache/index.html


# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Kirby accounts
# ---------------

build/site/accounts/*
!build/site/accounts/index.html
